<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>

  <h1>轻音少女</h1>
  <form th:action="@{/testRequestBody}" method="post">
      <input type="text" name="username">
      <input type="text" name="password">
      <input type="submit" value="测试@RequestBody">
  </form><br>
  <form th:action="@{/testRequestEntity}" method="post">
      <input type="text" name="username">
      <input type="text" name="password">
      <input type="submit" value="测试@RequestEntity">
  </form><br>

  <a th:href="@{/testResponse}">通过servletAPI的response对象响应浏览器数据</a><br>
  <a th:href="@{/testResponseBody}">通过@ResponseBody响应浏览器数据</a><br>
  <a th:href="@{/testResponseUser}">通过@ResponseUser响应浏览器user对象</a><br>

<div id="app">
    <a th:href="@{/testAxios}" @click="testAjax">SpringMVC处理ajax</a>
</div><br>
  <script type="text/javascript" th:src="@{/static/js/vue.js}"></script>
  <script type="text/javascript" th:src="@{/static/js/axios.min.js}"></script>
  <script type="text/javascript">
      var vue = new Vue({
          el:"#app",
          methods:{
              testAjax:function (event) {
                  axios({
                      method:"post",
                      url:event.target.href,
                      params:{
                          username:"admin",
                          password:"123456"
                      }
                  }).then(function (response) {
                      alert(response.data);
                  });
                  event.preventDefault();
              }
          }
      });
  </script>


<a th:href="@{/testDown}">下载“爱的价格”</a>

<form th:action="@{/testUp}" method="post" enctype="multipart/form-data">
    头像：<input type="file" name="photo"><br>
    <input type="submit" value="上传">
</form>

</body>
</html>